.resource-card
    .one
        float: left
        width: 23%
        margin-left: 218px

    .two
        float: left
        padding-top: 90px
        position: relative
        right: 296px

    .three 
        float: left
        width: 42%

@media only screen and (max-width: 768px)

    .resource-card
        .one
            width: 40%
            margin-left: 30px
        .two
            right: 305px
        .three 
            width: 38.5%
            position: relative
            right: 70px
  
@media only screen and (max-width: 480px)
    
    .resource-card
        .one
            float: none
            width: 100%
        .two
            float: none
            position: relative
            right: 0
            bottom: 70px
            margin: 0 auto
            display: block
            text-align: center
        .three
            margin-left: 94px
            width: 92%
            position: relative
            bottom: 40px