.resource-card
    width: 45%
    height: auto
    flex: 0 1 auto
    margin: 22.5px 2.5%
    padding: 15px
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)

    .resource-category
        font-size: 14px
        margin: 0px

    .resource-title
        font-size: 24px
        margin: 10px 0

        &:hover
            cursor: pointer
            color: #E52D27

    .resource-content
        font-size: 14px
        margin: 0px

    a
        color: #E52D27
        -moz-text-decoration-color: #E52D27
        font-size: 14px

section.resources
    display: flex
    flex-flow: row wrap

@media screen and (max-width: 768px)
    .resource-card
        width: 90%
        margin: 22.5px 5%
        min-height: 200px