.testimonial
    position: relative
    blockquote
        width: 50%
    div 
        border: 1px solid lightgrey
        height: 50px
        width: 50px
        border-radius: 50px
        background-color: lightgrey
        position: relative 
        left: 32.5%
    .reference
        position: absolute
        left: 38.5%
        top: 60%

    .company
        position: absolute
        left: 38.5%
        top: 80%
@media only screen and (max-width: 414px)
    .testimonial
        blockquote
            width: 87%
        div 
            left: 15%
@media only screen and (max-width: 768px)
    .testimonial
        div
            left: 20%
        .reference
            left: 33%
        .company
            left: 33%
