$primary-color: #b42d00

.footer-enroll
    h3 
        text-align: center
        font-weight: bolder

    p
        width: 50%
        display: block
        text-align: center
        margin: 0 auto
        padding: 20px 0 0 0

    a
        height: 45px
        width: 15%
        display: block
        height: 45px
        width: 15%
        display: block  
        margin: 0 auto
        text-align: center
        margin-top: 20px
        box-shadow: 3px 3px 5px #888888
        color: $primary-color
        background-color: white
        padding: 10px 0 0 0
        text-decoration: none
        


    .tfeTxt
        color: $primary-color

@media only screen and (max-width: 768px)

    .footer-enroll
        p
            width: 43%

        a
            padding: 12px 0 0 0

@media only screen and (max-width: 480px)

    .footer-enroll
        p
            width: 82%
            
        a
            height: 40px
            width: 30%