footer
    height: 350px
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.1) 35%, rgba(229, 45, 39, 0.15) 80%)

    .get_Started_Txt
        color: #993333
        font-weight: 100
        text-align: center
        margin: 0 
        padding: 0
        font-size: 3em
        position: relative
        top: 30px
         

    .enroll_Now_Button
        position: relative
        left: 43%
        top: 78px
        background: white
        box-shadow: 1px 4px 7px 1px lightgrey
        color: #933
        font-size: 1.2em
        font-weight: 100
        height: 45px
        width: 185px
        margin-top: 55px

@media only screen and (max-width: 480px)
    footer
        padding-left: 0px
        padding-right: 0px

        .get_Started_Txt 
            font-size: 2.5em
            right: 3%
            bottom: 6%

        .enroll_Now_Button 
            position: relative
            left: 30%

                
@media only screen and (max-width: 768px)
    footer
        padding-left: 0px
        padding-right: 0px

        .get_Started_Txt 
            font-size: 2.5em
            position: relative
            top: 50px


        .enroll_Now_Button 
            position: relative
            left: 38.5%

                
@media only screen and (max-width: 1024px)
    footer
        padding-left: 0px
        padding-right: 0px

        .get_Started_Txt 
            font-size: 3em
            position: relative
            top: 50px


        .enroll_Now_Button 
            position: relative
            left: 40%


