.footer-landing
    height: 350px
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.1) 35%, rgba(229, 45, 39, 0.15) 80%)
    float: left
    width: 100%

    h1
        color: $brand-primary
        text-align: center
        margin: 0 auto
        padding: 0
        position: relative
        top: 30px

    a
        text-decoration: none

        button
            position: relative
            top: 120px
            background: white
            box-shadow: 1px 4px 7px 1px lightgrey
            color: $brand-primary
            font-size: 1.2em
            height: 45px
            padding: 15px 30px
            display: block
            margin: 0 auto

@media only screen and (max-width: 1024px)
    .footer-landing
        padding-left: 0
        padding-right: 0

        h1 
            top: 50px

@media only screen and (max-width: 768px)
    .footer-landing
@media only screen and (max-width: 480px)
    .footer-landing
