.pricing
    margin: 0 25% 0 25%
    float: left
    div
        padding-right: 5%
        width: 50%
        float: left
    h3
        font-size: 1.5em
    ul
        padding: 0
        li
            padding-top: 30px
            list-style: none
            span:first-child
                color: #c58889
                display: block
                margin-bottom: 0.5em
    .pricing-base
        border: 2px solid #c7c7c7
        margin-top: 7em
        text-align: center
        h2
            font-size: 1em
            font-weight: bold
            margin-top: -10px
            background-color: white
            width: 115px
            text-align: center
            margin-left: 35%
        .pricing-base-price
            color: #983434
            font-size: 9em
        .money
            color: #983434
            position: relative
            bottom: 2em
            font-size: 2em
        .hr
            width: 30%
            border: solid 2px #c6c6c6
            margin: 20px 35% 20px 35%
@media only screen and (min-width: 300px) and (max-width: 684px)
    .pricing
        margin-left: auto
        width: 100%
        div
            float: none
            width: 90%
            margin: auto
            .pricing-base-price
                font-size: 6em
@media only screen and (min-width: 685px) and (max-width: 734px)
    .pricing
        div
            float: none
            width: 90%
            margin: auto
@media only screen and (min-width: 735px) and (max-width: 955px)
    .pricing
        margin: 0 5% 0 5%
@media only screen and (min-width: 966px) and (max-width: 1215px)
    .pricing
        margin: 0 15% 0 15%

